@import '../../styles/breakpoints';

.vehicle-board {
    position: relative;
    background-image: url('../../assests/images/white-pattern.jpg');
    background-size: cover;
    &-wrapper {
        padding: 0px 40px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: var(--shadow);
        position: relative;

    }
    .vehicle-info .title {
        font-size: 20px;
        font-weight: bold;
    }
    .vehicle-desc {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        font-size: 14px;
        color: #575050;
        p {
            margin-bottom: 0;
        }
        .value {
            display: block;
            margin-top: 6px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    img {
        width: 400px;
        place-self: center;
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .vehicle-board-wrapper {
        display: flex;
        flex-direction: column-reverse;
        padding: 15px;
        .logo {
            width: 70%;   
        }
    }
}
