@import '../../../../styles/breakpoints';

.driver-home {
    .tabHeader {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        background-color: rgba(68, 226, 228, 0.1);
        .tabHeaderItem {
            min-width: 150px;
            text-align: center;
            font-weight: 600;
            cursor: pointer;
            border-bottom: 4px solid transparent;
            & ~ .tabHeaderItem {
                margin-left: 12px;
            }

            &.active {
                border-bottom: 4px solid var(--primary-color);
                color: var(--primary-color);
            }
        }
    }
    
}

.deliveryList {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(420px, 1fr) );
    gap: 20px;
}

.actionAll {
    display: flex;
    cursor: pointer;
    span {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        color: #fff;
    }
    .allText {
        position: relative;
        z-index: 1;
        padding-left: 30px;
        padding-right: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transform: translateX(-20px);
        background-color: #344a5e;
        box-shadow: var(--shadow);
    }
    .checkIcon {
        position: relative;
        z-index: 2;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fff;
        color: #344a5e;
        // border: 1px solid #344a5e;
        box-shadow: -2px 2px 5px 0px #344a5e;
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .deliveryList {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}