.fs-12 { font-size: 12px!important; }
.fs-14 { font-size: 14px!important; }
.fs-16 { font-size: 16px!important; }
.fs-18 { font-size: 18px!important; }

.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }

.d-flex-center { display: flex; align-items: center; }
.d-flex { display: flex; }
.jc_sb { justify-content: space-between; }
.jc_c { justify-content: center; }
