.fs-12 { font-size: 12px!important; }
.fs-14 { font-size: 14px!important; }
.fs-16 { font-size: 16px!important; }
.fs-18 { font-size: 18px!important; }

.d-flex-center { display: flex; align-items: center; }
.d-flex { display: flex; }
.jc_sb { justify-content: space-between; }
