:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --primary-color: #38A3A5;
    --secondary-color: #F7B801;

    --header-text-color: #17223B;
    --text-color: #616161;

    --border-color: #EEEEEE;
    --placeholder-input-color: #BFBAB7;

    --transition: all 0.3s linear
}