.input-box {
    margin-bottom: 16px;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        color: #BFBAB7;
    }
    .input-field {
        width: 100%;
        border: 0;
        border-radius: 10px;
        background-color: #F5F5F5;
        padding: 16px 60px 16px;
    }
}