.wrapper {
    position: fixed;
    top: 10px;
    left: calc(var(--sidebar-width) + 30px);
    right: 10px;
    .action {
        a {
            font-size: 16px;
        }
    }
    .customBtn {
        font-size: 1.6rem;
        background-color: var(--white-color);
        color: var(--header-color);
        border-color: var(--primary-color);
        & ~ .customBtn {
            margin-left: 12px;
        }
        &.active {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
        &:hover {
            background-color: var(--primary-hover-color);
            color: var(--white-color);
        }
    }
    .truckLabel {
        font-size: 18px;
        font-weight: bold;
    }

    .leftCol {
        display: flex;
        flex-direction: column;
        background-color:  var(--white-color);
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
        padding: 42px 24px;
        text-align: center;
        height: 80vh;
        .title {
            color: var(--header-color);
            font-weight: 600;
            font-size: 24px;
        }
        .status {
            font-size: 42px;
            font-weight: 700;
            margin-top: 12px;
            &.goodStatus {
                color: #008000;
            }
            &.normalStatus {
                color: #ffa500;
            }
            &.dangerStatus {
                color: #ff0000;
            }
        }
    }
    .rightCol {
        background-color: var(--white-color);
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        height: 80vh;
        overflow-y: auto;
        .title {
            display: flex;
            justify-content: space-between;
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    th {
        text-align: left;
        color: #333;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #ccc;
    }
    tbody {
        overflow-y: auto;
        height: 100%;
        tr:nth-child(odd) {
            background-color: #fef9eb;
        }
        td {
            padding: 10px;
            border: 1px solid #ccc;
        }
    }
}
