.admin-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // .widget {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    //     gap: 20px;
    //     p {
    //         margin: 0;
    //     }
    //     &-item {
    //         padding: 20px;
    //         background-color: #fff;
    //         border-radius: 10px;
    //         border-bottom: 4px solid #000;
    //         .title {
    //             color: #000;
    //             opacity: 0.5;
    //             text-transform: uppercase;
    //         }
    //         .num {
    //             font-size: 32px;
    //             font-weight: bold;
    //         }
    //         .icon {
    //             font-size: 32px;
    //         }
    //         &.blue-color {
    //             border-color: #3F6AD8;
    //             .icon {
    //                 color: #3F6AD8;
    //             }
    //         }
    //         &.cyan-color {
    //             border-color: #17A2B8;
    //             .icon {
    //                 color: #17A2B8;
    //             }
    //         }
    //         &.orange-color {
    //             border-color: #F7B924;
    //             .icon {
    //                 color: #F7B924;
    //             }
    //         }
    //         &.green-color {
    //             border-color: #3AC47D;
    //         }
    //     }
    // }
    // .charts {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    //     gap: 20px;
    //     margin-top: 40px;
    //     margin-bottom: 20px;
    // }
    // .chart-container {
    //     box-shadow: var(--shadow);
    //     .title {
    //         font-size: 18px;
    //         color: #fff;
    //         border-top-left-radius: 10px;
    //         border-top-right-radius: 10px;
    //         padding: 15px 20px;
    //         text-transform: uppercase;
    //         &.blue-color {
    //             background-color: #007BFF;
    //         }
    //         &.cyan-color {
    //             background-color: #17A2B8;
    //         }
    //         &.red-color {
    //             background-color: #DC3545;
    //         }
    //         &.green-color {
    //             background-color: #28A745;
    //         }
    //     }
    //     .chart {
    //         padding: 10px;
    //         border-bottom-left-radius: 10px;
    //         border-bottom-right-radius: 10px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         canvas {
    //             width: 100%;
    //         }
    //         &.doughnut {
    //             width: 65%;
    //             margin: 0 auto;
    //         }
    //     }
    // }
    .coming-soon {
        width: 50%;
        height: max-content;
    }
}