.sidebar {
    position: sticky;
    top: 0px;
    padding: 12px;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 16px;

    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    p {
        margin-bottom: 0;
    }
}

.listItem { 
    position: relative;
}

.menuLink {
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 12px;
    &.active {
        background-color: var(--secondary-color);
        color: var(--header-text-color);
        font-weight: 500;
        margin-left: -12px;
        padding-left: 24px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            color: var(--white-color);
        }
    }

    &:hover {
        color: var(--primary-color);
    }
}

.notiCount {
    color: var(--header-text-color);
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    font-weight: bold;
    border-radius: 10px;
}   


