@import '../../styles/variabless';

.sidebar {
    position: sticky;
    top: 0px;
    padding: 12px;
    width: $sidebar-width;
}

.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-sm;
    margin-bottom: 16px;
    .name {
        font-weight: $fw-600;
        font-size: $fs-lg;
    }
}

.listItem { 
    position: relative;
}

.menuLink {
    color: $text-color;
    display: flex;
    align-items: center;
    font-size: $fs-lg;
    padding: 12px;
    &.active {
        background-color: $secondary-color;
        color: $header-text-color;
        font-weight: $fw-500;
        margin-left: -12px;
        padding-left: 24px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            color: $white-color;
        }
    }

    &:hover {
        color: $primary-color;
    }
}

.notiCount {
    color: $header-text-color;
    background-color: $secondary-color;
    display: inline-block;
    padding: 2px 10px;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    font-weight: $fw-600;
    border-radius: 10px;
}   


