@import '../../styles/variabless';

.import-order {
    label {
        font-size: $fs-md;
        font-weight: $fw-600;

    }
    .order-info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(198, 147, 1, 0.08);
        margin-top: 5px;
        padding: 15px;
        span {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            & ~ span {
                margin-left: 12px;
                padding-left: 12px;
                border-left: 1px dashed $border-color;
            }
        }
    }
}