@import '../../styles/breakpoints';

.wrapper {
    .searchBar {
        background-color: var(--white-color);
        width: 50%;
        margin-right: 32px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 1px 0 4px #BEBEBE;
    
        input::placeholder {
            color: var(--placeholder-input-color);
        }
    }
    .pageTitle {
        font-size: 24px;
        font-weight: 600;
        padding: 15px 0;
        display: block;
    }
    .createOrderSection {
        padding-bottom: 24px;
        transition: var(--transition);
        textarea {
            padding: 6px;
            font-size: 14px;
            outline: none;
            border-color: var(--border-color);
            border-radius: 5px;
        }
        & ~ .createOrderSection {
            border-top: 1px solid var(--border-color);
            padding: 24px 0;
        }
        &.lastSection {
            text-align: right;
        }
        .title {
            display: flex;
            align-items: center;
            border-left: 5px solid var(--primary-color);
            color: var(--primary-color);
            font-weight: 600;
            font-size: 16px;
            .editBtn {
                color: #000;
                cursor: pointer;
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        .content {
            margin: 10px;
            font-size: 14px;
            .importantLine {
                color: var(--secondary-color);
            }
            .orderItem {
                width: 100%;
                border: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                padding: 8px 15px;
                min-height: 80px;
                &.notComplete {
                    border-color: red;
                }
                & ~.orderItem {
                    margin-top: 6px;
                }
                .imageUpload {
                    .button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 12px;
                        width: 55px;
                        height: 55px;
                        background-color: #BEBEBE;
                        border-radius: 50%;
                        color: #fff;
                        cursor: pointer;
                    }
                }
                .info {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    justify-content: space-between;
                    input {
                        border-bottom: 1px solid var(--border-color);
                        width: 100%;
                        &::placeholder {
                            font-size: 14px;
                            color: var(--placeholder-input-color);
                        }
                    }
                    .addItemBtn {
                        color: var(--secondary-color);
                        width: 24px;
                        height: 24px;
                        display: block;
                        margin-left: auto;
                    }

                    .orderItemField {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        min-width: 45%;
                        white-space: nowrap;
                        & ~ .orderItemField {
                            margin-left: 12px;
                        }
                    }
                }
            }
        }

        .optionWrap {
            display: flex;
            align-items: center;
            padding: 12px;
            & ~ .optionWrap {
                border-top: 1px solid var(--border-color);
            }
        }
    }
}


// Form group section
.formGroup {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    & ~ .formGroup {
        margin-top: 12px;
    }
    label:not([for]) {
        font-weight: 600;
        margin-bottom: 2px;
    }
    input, select {
        border: 1px solid var(--border-color);
        padding: 8px;
        border-radius: 5px;
        &:focus {
            border-color: var(--secondary-color);
        }
    }
    input {
        &::placeholder {
            color: var(--placeholder-input-color);
            font-size: 14px;
        }
    }
    select {
        &::after {
            background-color: red;
        }
    }
}

.button {
    width: 100%;
    color: var(--white-color);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    transition: var(--transition);
    &:hover {
        background-color: var(--primary-hover-color);
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .wrapper {
        .pageTitle {
            font-size: 18px;
            padding: 0;
            margin-bottom: 20px;
        }

        .content {
            margin: 10px 0!important;
        }

        .orderItemField {
            min-width: 90%!important;
        }
    }
}
