.wrapper {
    width: 75%;
    height: 100%;
    padding: 12px;
    overflow: auto;
}

.searchBar {
    background-color: var(--white-color);
    padding: 16px 0;
}

.btn .createBtn {
    font-size: 16px;
    color: red;
}