.searchBar {
    background-color: var(--white-color);
    width: 50%;
    margin-right: 32px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 0 4px #BEBEBE;

    input::placeholder {
        color: var(--placeholder-input-color);
    }
}

.orderFilter {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 1px 0 4px #BEBEBE;
    color: #000;
    cursor: pointer;
    &.orderFilter1 {
        background: linear-gradient(to right bottom, #c1d6fc, #f4cdff);
    }
    &.orderFilter2 {
        background: linear-gradient(to right bottom, #a4e6f6, #bef0ef);
    }
    &.orderFilterActive,
    p:first-child {
        margin: 0;
        color: #000;
    }
}

.orderList {
    display: grid;
    gap: 20px;
    font-size: 14px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    p {
        margin-bottom: 0;
    }
    .order {
        border-left: 8px solid var(--primary-color);
        padding: 20px;
        box-shadow: var(--shadow);
        box-shadow: 0 1px 4px rgb(0, 0, 0, 0.2);
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &:hover .orderOverlay {
            opacity: 0.9;
            visibility: visible;
        }
        &:hover .orderIcons {
            opacity: 1;
            visibility: visible;
        }
    }
    .orderTitles {
        font-weight: bold;
        margin-bottom: 0;
        color: #0f5455;
    }
    .orderTitlesStatus {
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
    }
    .orderTitlesStatusYellow {
        color: rgba(255, 154, 31, 1);
        background-color: rgba(227, 80, 62, 0.1);
    }
    .orderTitlesStatusRed {
        color: rgba(202, 46, 46, 1);
        background-color: rgba(202, 46, 46, 0.1);
    }
    .orderTitlesStatusGreen {
        color: rgba(75, 173, 91, 1);
        background-color: rgba(75, 173, 91, 0.1);
    }
    .orderOverlay {
        position: absolute;
        background-color: #2a2a2a;
        border-radius: 3px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }
    .orderIcons {
        position: absolute;
        z-index: 11;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        transition: all .5s;
        opacity: 0;
        visibility: hidden;
    }
    .orderIcon {
        display: inline-block;
        margin: 0px 5px;
        width: 40px;
        height: 40px;
        background-color: #fff;
        color: #2a2a2a;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }
    .orderInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        // margin-bottom: 10px;
    }
    .itemList {
        display: flex;
        gap: 10px;
        .item {
            padding: 5px 10px;
            border-radius: 5px;
            margin: 0;
            border: 1px solid #adadad;
        }
    }
    .iconList {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            span {
                font-size: 14px;
                display: inline-block;
                margin-left: 10px;
            }
            &.green {
                background-color: #28a745;
            }
            &.blue {
                background-color: #007bff;
            }
            &.red {
                background-color: #dc3545;
            }
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}

.tabHeader {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: rgba(68, 226, 228, 0.1);
    .tabHeaderItem {
        min-width: 150px;
        text-align: center;
        font-weight: 600;
        cursor: pointer;
        border-bottom: 4px solid transparent;
        color: #4e4848;
        & ~ .tabHeaderItem {
            margin-left: 12px;
        }

        &.active {
            border-bottom: 4px solid var(--primary-color);
            color: var(--primary-color);
            font-weight: bold;
        }
    }
}