.searchBar {
    background-color: var(--white-color);
    width: 50%;
    margin-right: 32px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 0 4px #BEBEBE;

    input::placeholder {
        color: var(--placeholder-input-color);
    }
}

.orderFilter {
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 24px;
    box-shadow: 1px 0 4px #BEBEBE;
    color: #000;
    background-color: var(--white-color);
    cursor: pointer;
    &.orderFilterActive,
    &:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
        p:first-child { color: var(--white-color); }
    }
    p:first-child {
        margin: 0;
        color: #000;
    }
}

.orderSubFilter {
    display: flex;
    padding: 0 16px;
    margin: 12px 0;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--white-color);
    border-radius: 5px;

    li {
        min-width: 220px;
        text-align: center;
        line-height: 50px;
        &.active {
            border-bottom: 2px solid var(--primary-color); 
        }
        &:hover  {
            border-bottom: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }
}

.orderList {
    display: grid;
    gap: 20px;
    .order {
        border-left: 4px solid var(--primary-color);
        padding: 20px;
        box-shadow: var(--shadow);
        border-radius: 5px;
        position: relative;
    }
    .orderInfo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .itemList {
        display: flex;
        gap: 20px;
        .item {
            padding: 5px 20px;
            border-radius: 5px;
            margin: 0;
            border: 1px solid #adadad;
        }
    }
    .iconList {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
            cursor: pointer;
        }
    }
}