@import '../../../../styles/breakpoints';

.searchBar {
    background-color: var(--white-color);
    width: 50%;
    margin-right: 32px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 0 4px #BEBEBE;

    input::placeholder {
        color: var(--placeholder-input-color);
    }
}

.filterWrapper {
    display: flex;
    align-items: center;
    .orderFilter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 200px;
        height: 100px;
        border-radius: 5px;
        margin-right: 24px;
        box-shadow: 1px 0 4px #BEBEBE;
        cursor: pointer;
        border: 1px solid var(--border-color);
        border-top-width: 5px;
        background-color: white;
        &.waiting {
            border-color: #FFD700;
        }
        &.accepted {
            border-color: #00AA00;
        }
        &.picked {
            border-color: #1E90FF;
        }
        &.delivering {
            border-color: #FFA500;
        }
        &.success {
            border-color: #008000;
        }
    
        // &.orderFilter1 {
        //     background: linear-gradient(to right bottom, #c1d6fc, #f4cdff);
        // }
        // &.orderFilter2 {
        //     background: linear-gradient(to right bottom, #a4e6f6, #bef0ef);
        // }
        // &.orderFilterActive,
        // p:first-child {
        //     margin: 0;
        //     color: #000;
        // }
        .count {
            font-weight: 500;
            font-size: 30px;
        }
    }
}


.orderList {
    display: grid;
    gap: 20px;
    font-size: 14px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    overflow-y: auto;
    p {
        margin-bottom: 0;
    }
    .order {
        padding: 20px;
        box-shadow: var(--shadow);
        box-shadow: 0 1px 4px rgb(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .orderTitles {
        font-weight: bold;
        margin-bottom: 0;
        color: #0f5455;
    }
    .orderTitlesStatus {
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
    }
    .orderTitlesStatusYellow {
        color: rgba(255, 154, 31, 1);
        background-color: rgba(227, 80, 62, 0.1);
    }
    .orderTitlesStatusRed {
        color: rgba(202, 46, 46, 1);
        background-color: rgba(202, 46, 46, 0.1);
    }
    .orderTitlesStatusGreen {
        color: rgba(75, 173, 91, 1);
        background-color: rgba(75, 173, 91, 0.1);
    }
    .orderIcons {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
    }
    .orderIcon {
        display: inline-block;
        margin: 0px 5px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: #5d5d5d;
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        display: inline-block;
        transition: all .5s;
        position: relative;
        cursor: pointer;
        &:hover {
            color: var(--primary-color);
            border-color: var(--primary-color);
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .orderInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .itemList {
        display: flex;
        gap: 10px;
        .item {
            padding: 5px 10px;
            border-radius: 5px;
            margin: 0;
            border: 1px solid #adadad;
        }
    }
    .iconList {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            span {
                font-size: 14px;
                display: inline-block;
                margin-left: 10px;
            }
            &.green {
                background-color: #28a745;
            }
            &.blue {
                background-color: #007bff;
            }
            &.red {
                background-color: #dc3545;
            }
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .filterWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        .orderFilter {
            margin-right: 0;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            height: 60px;
            .count {
                min-width: 35px;
            }
        }
    }

    .orderList {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .itemList {
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }
  