.formGroup {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    & ~ .formGroup {
        margin-top: 12px;
    }
    label:not([for]) {
        font-weight: 600;
        margin-bottom: 2px;
    }
    input, select {
        border: 1px solid var(--border-color);
        padding: 8px;
        border-radius: 5px;
        &:focus {
            border-color: var(--secondary-color);
        }
    }
    input {
        &::placeholder {
            color: var(--placeholder-input-color);
            font-size: 1.4rem;
        }
    }
    select {
        // appearance: none;
        // -webkit-appearance: none;
        // -moz-appearance: none;
        &::after {
            background-color: red;
        }
    }
}