@import '../../styles/breakpoints';

.formGroup {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    & ~ .formGroup {
        margin-top: 12px;
    }
    label:not([for]) {
        font-weight: 600;
        margin-bottom: 2px;
    }
    input, select {
        border: 1px solid var(--border-color);
        padding: 8px;
        border-radius: 5px;
        &:focus {
            border-color: var(--secondary-color);
        }
    }
    input {
        &::placeholder {
            color: var(--placeholder-input-color);
            font-size: 14px;
        }
        &.error {
            border-color: red;
        }
    }
    select {
        &::after {
            background-color: red;
        }
    }
    .errorMsg {
        font-size: 14px;
        color: red;
        display: block;
        margin-bottom: 6px;
        text-align: left;
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .formGroup {
        margin-bottom: 12px;
    }
}
