.resolve-support-request {
    .click-here {
        color: #0000ee;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    textarea {
        width: 100%;
        height: 150px;
        padding: 5px;
    }
    p {
        margin-bottom: 0;
    }
    .icon-list {
        .reply-icon,
        .assign-icon,
        .delete-icon {
            display: inline-block;
            padding: 8px;
            cursor: pointer;
            margin: 2px;
            color: #fff;

        }
        .reply-icon {
            background-color: #00c851;
        }
        .assign-icon {
            background-color: #007bff;
        }
        .delete-icon {
            background-color: #dc3545;
        }
    }
}