.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: flex-start;
    display: flex;
    z-index: 99;

    .container {
        background-color: #fff;
        min-width: 450px;
        max-width: calc(100% - 32px);
        min-height: 200px;
        position: relative;
        animation: fadeIn ease 0.5s;
        margin-top: 10px;
        padding: 12px 24px;
        border-radius: 5px;
        .header {
            font-size: 2rem;
            font-weight: bold;
            padding: 12px 0;
            border-bottom: 1px solid var(--border-color);
        }
        .body {
            padding: 18px 0;
        }
        .footer {
            text-align: right;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-250px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}